// template(name='post_edit')
//     +edit_array_field key='tags'
//     +edit_html_field key='html'
//     // +Template.dynamic template=edit_type_template
//     // else
//     //     // if parent_id
//     //     +parent_doc_segment
//     //     each field_ids
//     //         +edit_field template=field_doc.field_template key=field_doc.slug
    

template(name='template_picker')
    .ui.header template
        +toggle_key key='template' value=null label='none'
        +toggle_key key='template' value='question' label='question'
        +toggle_key key='template' value='ad' label='ad'
        +toggle_key key='template' value='event' label='event'
        +toggle_key key='template' value='quiz' label='quiz'
        +toggle_key key='template' value='prediction' label='prediction'
        +toggle_key key='template' value='offer' label='offer'
    .ui.divider


